In [12]:
!git init

Initialized empty Git repository in /Users/medamin/_Projets/_DataScience/DirectOfInformaiton_Project/.git/

In [13]:
!git commit -m " Dirinfo repo"

On branch master

Initial commit

Untracked files:
	 Guide to Machine Learning in R for Beginners Logistic Regression.ipynb
	.DS_Store
	.ipynb_checkpoints/
	Boston.ipynb
	DIR_info_2.ipynb
	Data science  Project.docx
	DataScience With Python .ipynb
	Develop a XGBoost model on SageMaker to Forecast Demand.ipynb
	DirInfo.FstProj.pptx
	DirInfo_1-Copy1.ipynb
	DirInfo_1-Copy2.ipynb
	DirInfo_1.ipynb
	Education Data Mining.ipynb
	GD6_clean.csv
	Hello.gv
	Hello.gv.svg
	IRIS. XGBoost  Multiclass .ipynb
	Isamahan.ipynb
	MLCourse/
	MLCourseSlides.pdf
	Pivot_DF_in_R .ipynb
	Plotting Learning Curves.ipynb
	Presentation_.ipynb
	R_graph_1-Copy1.ipynb
	Random Forest.ipynb
	SAuvegarde.ipynb
	SKLEARN. & SCIPY.ipynb
	Seaborn.ipynb
	Sigma.png
	Untitled.ipynb
	Workshop Dir_info.pptx
	bst_model.pkl
	confusion.png
	data/
	delete. r.ipynb
	dtest.svm
	dtrain.svm
	dump.raw.txt
	imgs/
	jointplot.png
	"machine-learning-cheat-sheet:machine-learning-cheat-sheet.pdf at master \302\267 soulmachine:machine-learni.webarchive"
	me.ipynb
	resources/
	test.ipynb
	tree.dot

nothing added to commit but untracked files present

In [14]:
!git remote add origin https://github.com/DatascienceBH/Sagemaker_DirInfo.git

In [16]:
!git remote -v

origin	https://github.com/DatascienceBH/Sagemaker_DirInfo.git (fetch)
origin	https://github.com/DatascienceBH/Sagemaker_DirInfo.git (push)

In [15]:
!git push -u origin master

error: src refspec master does not match any
error: failed to push some refs to 'https://github.com/DatascienceBH/Sagemaker_DirInfo.git'

In [213]:
import pandas as pd
import numpy as np

In [214]:
df = pd.read_csv("data/df.csv",encoding="utf-8-sig",  header = 0)

In [215]:
df.tail()

,Unnamed: 0,STUDENT_NO,COURSE_CODE,TERM,ACH,MID,FINAL,SEM_AVG1,GENDER,GOVERNORATE,SCHOOL
118996,118997,2839201688,<U+0628><U+062F><U+0646>201,2,30.0,20.0,50.0,98.2,1,3,ISA BIN ALI AL-KHALIFA SEC. BOY'S
118997,118998,2839201688,<U+062A><U+0642><U+0646>105,2,30.0,20.0,50.0,98.2,1,3,ISA BIN ALI AL-KHALIFA SEC. BOY'S
118998,118999,2839201688,<U+0641><U+064A><U+0632>210,5,0.0,28.0,59.0,92.4,1,3,ISA BIN ALI AL-KHALIFA SEC. BOY'S
118999,119000,2839201688,<U+062D><U+064A><U+0627>211,3,30.0,17.0,43.5,92.5,1,3,ISA BIN ALI AL-KHALIFA SEC. BOY'S
119000,119001,2839201688,<U+0639><U+0631><U+0628>201,3,30.0,18.5,48.0,92.5,1,3,ISA BIN ALI AL-KHALIFA SEC. BOY'S

In [ ]:
ct=["<50", "60"]
df['bucket']=pd.cut(df['marks'],5,labels=['Poor','Below_average','Average','Above_Average','Excellent'])

In [119]:
df.keys()

Index(['Unnamed: 0', 'STUDENT_NO', 'COURSE_CODE', 'TERM', 'ACH', 'MID',
       'FINAL', 'SEM_AVG1', 'GENDER', 'GOVERNORATE', 'SCHOOL'],
      dtype='object')

In [120]:
df.STUDENT_NO.count()

119001

In [121]:
df.shape

(119001, 11)

In [122]:
df.STUDENT_NO.value_counts()

1848201657      55
1848201651      55
1848201686      55
1848201683      55
1848201688      55
                ..
283220163710    16
28052016893     16
28222016410     16
18082016996     16
28222016415     16
Name: STUDENT_NO, Length: 2252, dtype: int64

In [123]:
#Select all the columns that are not numeric using the following code:
data_column_category = df.select_dtypes(exclude=[np.number]).columns

data_column_category

Index(['COURSE_CODE', 'SCHOOL'], dtype='object')

In [124]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for i in data_column_category:

    df[i] = label_encoder.fit_transform(df[i])

print("Label Encoded Data: ")

df.head()

Label Encoded Data:

,Unnamed: 0,STUDENT_NO,COURSE_CODE,TERM,ACH,MID,FINAL,SEM_AVG1,GENDER,GOVERNORATE,SCHOOL
0,1,17152016100,49,5,29.0,17.5,40.5,84.5,2,3,2
1,2,17152016100,17,6,30.0,20.0,50.0,87.3,2,3,2
2,3,17152016100,37,1,29.5,13.5,39.5,90.5,2,3,2
3,4,17152016100,24,1,30.0,18.5,48.0,90.5,2,3,2
4,5,17152016100,38,2,29.0,18.0,38.5,87.8,2,3,2

In [141]:
df.COURSE_CODE.sort_values().ravel()

array(['0', '0', '0', ..., '9', '9', '9'], dtype=object)

In [212]:
df.COURSE_CODE.unique()

array(['49', '17', '37', '24', '38', '64', '5', '51', '39', '31', '41',
       '42', '6', '58', '11', '18', '35', '60', '30', '63', '59', '62',
       '7', '34', '57', '0', '55', '46', '47', '48', '43', '27', '26',
       '65', '45', '67', '10', '33', '2', '22', '8', '12', '29', '61',
       '16', '36', '3', '50', '25', '13', '1', '32', '40', '9', '53',
       '54', '19', '52', '15', '28', '66', '14', '56', '23', '4', '44',
       '20', '21'], dtype=object)

In [130]:
type(df.COURSE_CODE)

pandas.core.series.Series

In [131]:
df.COURSE_CODE=df.COURSE_CODE.apply(str)

In [132]:
df2=df.pivot(index="STUDENT_NO", columns="COURSE_CODE", values=['TERM', 'ACH', 'MID','FINAL','SEM_AVG1']).swaplevel(0,1, axis=1)
#flatten index - I assumed that's what you're going for:
df2.columns=["_".join(el) for el in df2.columns ]

In [168]:
df2

,0_TERM,1_TERM,10_TERM,11_TERM,12_TERM,13_TERM,14_TERM,15_TERM,16_TERM,17_TERM,...,61_SEM_AVG1,62_SEM_AVG1,63_SEM_AVG1,64_SEM_AVG1,65_SEM_AVG1,66_SEM_AVG1,67_SEM_AVG1,7_SEM_AVG1,8_SEM_AVG1,9_SEM_AVG1
STUDENT_NO,,,,,,,,,,,,,,,,,,,,,
171520167,1.0,5.0,5.0,6.0,1.0,2.0,NaN,NaN,NaN,6.0,...,92.4,87.3,91.5,87.3,93.8,NaN,92.4,92.4,87.3,91.5
180220161,1.0,5.0,5.0,6.0,1.0,2.0,NaN,NaN,6.0,NaN,...,99.8,99.7,99.1,99.9,99.4,NaN,99.8,99.8,99.7,99.4
180220163,1.0,5.0,5.0,6.0,1.0,2.0,NaN,NaN,6.0,NaN,...,95.6,95.8,95.8,95.8,95.7,NaN,95.6,95.6,95.8,95.8
180220165,1.0,5.0,5.0,6.0,1.0,2.0,NaN,NaN,6.0,NaN,...,95.5,96.0,95.8,97.4,97.2,NaN,95.5,95.5,96.0,95.8
180220167,1.0,5.0,5.0,6.0,1.0,2.0,NaN,NaN,6.0,NaN,...,86.2,80.0,83.1,79.5,76.5,NaN,86.2,86.2,80.0,83.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184520169356,NaN,5.0,5.0,6.0,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,71.3,69.0,72.6,78.2,NaN,NaN,NaN,71.3,78.2
184820161441,NaN,5.0,5.0,6.0,NaN,NaN,NaN,NaN,6.0,5.0,...,NaN,NaN,NaN,93.7,96.5,NaN,NaN,NaN,NaN,NaN
283220163065,1.0,5.0,5.0,6.0,1.0,2.0,NaN,NaN,NaN,NaN,...,77.2,73.6,81.5,74.0,82.4,82.4,77.2,77.2,74.0,81.5
283220163216,2.0,5.0,5.0,6.0,1.0,2.0,NaN,NaN,4.0,NaN,...,94.2,92.3,92.0,92.5,94.5,94.5,94.2,93.7,92.3,92.0
283220163710,NaN,5.0,5.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,79.3,85.9,79.3,NaN,NaN,NaN,NaN

In [216]:
df2.shape

(2252, 340)

In [169]:
df2.keys()

Index(['0_TERM', '1_TERM', '10_TERM', '11_TERM', '12_TERM', '13_TERM',
       '14_TERM', '15_TERM', '16_TERM', '17_TERM',
       ...
       '61_SEM_AVG1', '62_SEM_AVG1', '63_SEM_AVG1', '64_SEM_AVG1',
       '65_SEM_AVG1', '66_SEM_AVG1', '67_SEM_AVG1', '7_SEM_AVG1', '8_SEM_AVG1',
       '9_SEM_AVG1'],
      dtype='object', length=340)

In [209]:
df2.loc[1:,[ e for  e in df2.columns if "SEM_AVG1" in e]]

,0_SEM_AVG1,1_SEM_AVG1,10_SEM_AVG1,11_SEM_AVG1,12_SEM_AVG1,13_SEM_AVG1,14_SEM_AVG1,15_SEM_AVG1,16_SEM_AVG1,17_SEM_AVG1,...,61_SEM_AVG1,62_SEM_AVG1,63_SEM_AVG1,64_SEM_AVG1,65_SEM_AVG1,66_SEM_AVG1,67_SEM_AVG1,7_SEM_AVG1,8_SEM_AVG1,9_SEM_AVG1
STUDENT_NO,,,,,,,,,,,,,,,,,,,,,
171520167,90.9,87.3,87.3,93.8,90.9,92.4,NaN,NaN,NaN,93.8,...,92.4,87.3,91.5,87.3,93.8,NaN,92.4,92.4,87.3,91.5
180220161,99.8,99.9,99.9,99.4,99.8,99.8,NaN,NaN,99.4,NaN,...,99.8,99.7,99.1,99.9,99.4,NaN,99.8,99.8,99.7,99.4
180220163,94.7,95.8,95.8,95.7,94.7,95.6,NaN,NaN,95.7,NaN,...,95.6,95.8,95.8,95.8,95.7,NaN,95.6,95.6,95.8,95.8
180220165,94.2,97.4,97.4,97.2,94.2,95.5,NaN,NaN,97.2,NaN,...,95.5,96.0,95.8,97.4,97.2,NaN,95.5,95.5,96.0,95.8
180220167,78.4,79.5,79.5,76.5,78.4,86.2,NaN,NaN,76.5,NaN,...,86.2,80.0,83.1,79.5,76.5,NaN,86.2,86.2,80.0,83.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184520169356,NaN,72.6,72.6,78.2,NaN,NaN,NaN,NaN,69.0,NaN,...,NaN,71.3,69.0,72.6,78.2,NaN,NaN,NaN,71.3,78.2
184820161441,NaN,93.7,93.7,96.5,NaN,NaN,NaN,NaN,96.5,93.7,...,NaN,NaN,NaN,93.7,96.5,NaN,NaN,NaN,NaN,NaN
283220163065,75.7,74.0,74.0,82.4,75.7,77.2,NaN,NaN,NaN,NaN,...,77.2,73.6,81.5,74.0,82.4,82.4,77.2,77.2,74.0,81.5
283220163216,93.7,92.5,92.5,94.5,94.2,93.7,NaN,NaN,92.0,NaN,...,94.2,92.3,92.0,92.5,94.5,94.5,94.2,93.7,92.3,92.0
283220163710,NaN,79.3,79.3,85.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,79.3,85.9,79.3,NaN,NaN,NaN,NaN

In [207]:
[ e for  e in df2.columns if "SEM_AVG1" in e]

['0_SEM_AVG1',
 '1_SEM_AVG1',
 '10_SEM_AVG1',
 '11_SEM_AVG1',
 '12_SEM_AVG1',
 '13_SEM_AVG1',
 '14_SEM_AVG1',
 '15_SEM_AVG1',
 '16_SEM_AVG1',
 '17_SEM_AVG1',
 '18_SEM_AVG1',
 '19_SEM_AVG1',
 '2_SEM_AVG1',
 '20_SEM_AVG1',
 '21_SEM_AVG1',
 '22_SEM_AVG1',
 '23_SEM_AVG1',
 '24_SEM_AVG1',
 '25_SEM_AVG1',
 '26_SEM_AVG1',
 '27_SEM_AVG1',
 '28_SEM_AVG1',
 '29_SEM_AVG1',
 '3_SEM_AVG1',
 '30_SEM_AVG1',
 '31_SEM_AVG1',
 '32_SEM_AVG1',
 '33_SEM_AVG1',
 '34_SEM_AVG1',
 '35_SEM_AVG1',
 '36_SEM_AVG1',
 '37_SEM_AVG1',
 '38_SEM_AVG1',
 '39_SEM_AVG1',
 '4_SEM_AVG1',
 '40_SEM_AVG1',
 '41_SEM_AVG1',
 '42_SEM_AVG1',
 '43_SEM_AVG1',
 '44_SEM_AVG1',
 '45_SEM_AVG1',
 '46_SEM_AVG1',
 '47_SEM_AVG1',
 '48_SEM_AVG1',
 '49_SEM_AVG1',
 '5_SEM_AVG1',
 '50_SEM_AVG1',
 '51_SEM_AVG1',
 '52_SEM_AVG1',
 '53_SEM_AVG1',
 '54_SEM_AVG1',
 '55_SEM_AVG1',
 '56_SEM_AVG1',
 '57_SEM_AVG1',
 '58_SEM_AVG1',
 '59_SEM_AVG1',
 '6_SEM_AVG1',
 '60_SEM_AVG1',
 '61_SEM_AVG1',
 '62_SEM_AVG1',
 '63_SEM_AVG1',
 '64_SEM_AVG1',
 '65_SEM_AVG1',
 '66_SEM_AVG1',
 '67_SEM_AVG1',
 '7_SEM_AVG1',
 '8_SEM_AVG1',
 '9_SEM_AVG1']

# Build multiclass classifiers with Amazon SageMaker linear learner

In [4]:
# import data science and visualization libraries
%matplotlib inline
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import seaborn as sns

In [7]:
# download the raw data and unzip
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/covtype/covtype.data.gz
!gunzip covtype.data.gz

dyld: Library not loaded: /usr/local/opt/openssl/lib/libssl.1.0.0.dylib
  Referenced from: /usr/local/bin/wget
  Reason: image not found
gunzip: can't stat: covtype.data.gz (covtype.data.gz.gz): No such file or directory

In [9]:
# read the csv and extract features and labels
covtype = pd.read_csv('covtype.data', delimiter=',', dtype='float32').as_matrix()
covtype_features, covtype_labels = covtype[:, :54], covtype[:, 54]
# transform labels to 0 index
covtype_labels -= 1

# shuffle and split into train and test sets

np.random.seed(0)
train_features, test_features, train_labels, test_labels = train_test_split(covtype_features, covtype_labels, test_size=0.2)
# further split the test set into validation and test sets
val_features, test_features, val_labels, test_labels = train_test_split(test_features, test_labels, test_size=0.5)

FileNotFoundError: [Errno 2] File b'covtype.data' does not exist: b'covtype.data'